@import url(http://fonts.googleapis.com/css?family=VT323);

#top_wrapper {
  background-color: #E8E8E8;
}

nav {
  overflow: hidden;
  width: 100%;
  height: 28px;
  text-overflow: ellipsis;
  padding: 5px 0;
}

nav table {
  border: 0;
  border-collapse: collapse;
}

nav table td {
  padding: 0 10px;
  vertical-align: middle;
}

nav .name {
  font-family: 'VT323', cursive;
  font-size: 24px;
}

#ace_div {
  height: 600px;
  width: 800px;
}

#message_center {
  color: #d14;
}
