@import url(https://fonts.googleapis.com/css?family=VT323);

.back {
  background-color: #E8E8E8;
}

h3 {
  font-weight: normal;
  padding: 2px 5px;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  font-size: 15px;
}

.modal h3 {
  font-size: 18px;
  font-weight: bold;
  border: 0;
}

#top_wrapper {
  border-bottom: 1px solid #DDD;
}

.clear {
  clear: both;
}

nav {
  width: 100%;
  padding: 5px 0 0 0;
}

nav .btn-toolbar > div {
  display: inline-block;
}

nav .name {
  font-family: 'VT323', cursive;
  font-size: 24px;
  margin: 0 10px;
  vertical-align: top;
  padding-top: 4px;
}

nav .btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

#ace_div {
  height: 60px;
  width: 800px;
}

#message_center {
  color: #d14;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
  padding-top: 6px;
}

#message_center span {
  display: inline-block;
  margin: 0 10px 0 0;
}

#message_center span:after {
  content: ", ";
}

#message_center span:last-child:after {
  content: "";
}

.emodes div {
  width: 158px;
  margin: 0 20px 2px 0;
  float: left;
  height: 22px;
}

.emodes div:nth-child(3n + 3) {
  margin-right: 0;
}

.emodes div label {
  display: inline-block;
}

#prefModal table {
  width: 100%;
  border-collapse: collapse;
}

#tab_bar {
  height: 31px;
  overflow: hidden;
}

#tab_bar span {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
}

#tab_bar span.current {
  background-color: #050;
}

#tab_bar span.current a {
  font-weight: bold;
  color: #CCC;
}

#box_wrapper {
  float: left;
  overflow: hidden;
  width: 100%;
}

#box_wrapper > div:first-child {
  float: left;
  width: 250px;
  overflow: hidden;
}

#box_wrapper > div:nth-child(2) {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  width: 7px;
  float: left;
  
  font-size: 10px;
  text-align: center;
  
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
}

#box_wrapper > div:last-child {
  margin-left: 259px;
}

#resize {
  cursor: col-resize;
  width: 2px;
  margin: 5px auto;
  height: 20px;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
}

#collapse_tools {
  cursor: pointer;
}

#dragger {
  width: 2px;
  border-right: 1px dotted #999;
  position: absolute;
  height: 100%;
  display: none;
  z-index: 10;
}

#search_form {
  padding: 0 10px 5px 10px;
  margin: 0;
}

#search_form input {
  margin-bottom: 0px;
}

#search_form .radio.f {
  float: left;
  margin: 0 20px 0 0;
}

#search_form .control-label {
  float: left;
  padding: 5px 5px 0 0 ;
  text-align: right;
}

#search_form .controls {
  float: left;
}

#search_form .btn {
  margin: 0 0 5px 0;
}

#search_results em {
  display: block;
  padding: 10px;
}

#search_results table.table {
  width: 100%;
  font-size: 90%;
}

#search_results table.table td {
  padding: 5px;
}

#search_results .file_results h2 {
  font-size: 13px;
  padding: 8px 5px;
  margin: 0;
  line-height: 13px;
}

#search_results .file_results .table {
  margin-bottom: 0;
}

#search_results .file_results {
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
}


.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #E8E8E8;
  border-radius: 0;
}

.nav {
  margin-bottom: 0;
}

#fileTree {
  padding: 5px 0 0 5px;
  overflow: auto;
  height: 300px;
}

#searchSideTab {
  padding: 5px 0 0 5px;
  overflow: auto;
  height: 300px;
}


