@import url(https://fonts.googleapis.com/css?family=VT323);

#top_wrapper {
  background-color: #E8E8E8;
}

.clear {
  clear: both;
}

nav {
  width: 100%;
  padding: 5px 0 0 0;
}

nav .btn-toolbar > div {
  display: inline-block;
}

nav .name {
  font-family: 'VT323', cursive;
  font-size: 24px;
  margin: 0 10px;
  vertical-align: top;
  padding-top: 4px;
}

nav .btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

#ace_div {
  height: 600px;
  width: 800px;
}

#message_center {
  color: #d14;
  margin: 0 10px;
}

.emodes div {
  width: 158px;
  margin: 0 20px 2px 0;
  float: left;
  height: 22px;
}

.emodes div:nth-child(3n + 3) {
  margin-right: 0;
}

.emodes div label {
  display: inline-block;
}
