<div class="modal fade hide" id="aboutModal">{% load url from future %}{% load static %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>About Neutron Drive - Version 12.08</h3>
  </div>
  <div class="modal-body">
    <img src="{% static "img/neutron.png" %}" alt="" style="float: right;">
    <p>
      Brought to you by <strong>Team Hairball</strong>:
    </p>
    {% include "main/team.html" %}
    <p>
      License: <a href="{% url "license" %}" target="_blank">New BSD</a>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<div class="modal fade hide" id="linkModal">{% load url from future %}{% load static %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Open In Google Docs</h3>
  </div>
  <div class="modal-body">
    <strong><a href="" target="_blank" id="hiddenLink" onclick="$('#linkModal').modal('toggle');">Narf</a></strong>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<div class="modal fade hide" id="modeModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Editor Mode</h3>
  </div>
  <div class="modal-body">
    <div class="emodes">
      {% for mode in MODES %}
      <div>
        <label class="radio" for="emode_{{ mode.0 }}">
          <input type="radio" name="emode" value="{{ mode.0 }}" id="emode_{{ mode.0 }}" onclick="set_editor_mode('{{ mode.0 }}')">
          {{ mode.1 }}
        </label>
      </div>
      {% endfor %}
      <div class="clear"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
<div class="modal fade hide" id="newModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>New File</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label" for="id_newfile_name">New File Name</label>
      <div class="controls">
        <form onsubmit="return new_file()">
          <input type="hidden" name="newfile_parent" id="id_newfile_parent" value="">
          <input type="text" name="newfile_name" id="id_newfile_name" value="">
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript: void(0);" class="btn btn-primary" onclick="new_file()">Create</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
<div class="modal fade hide" id="prefModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Preferences</h3>
  </div>
  <div class="modal-body">
    <form id="prefForm" onsubmit="return update_prefs()">
      <table>
        <tr>
          <td>
            <div class="control-group">
              <label class="control-label" for="id_theme">Editor Theme</label>
              <div class="controls">
                <select id="id_theme" name="theme">
                  {% for t in themes %}
                  <option value="{{ t.0 }}"{% if t.0 == prefs.theme %} selected="selected"{% endif %}>{{ t.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </td>
          <td>
            <div class="control-group">
              <label class="control-label" for="id_keybind">Key Bindings</label>
              <div class="controls">
                <select id="id_keybind" name="keybind">
                  {% for t in binds %}
                  <option value="{{ t.0 }}"{% if t.0 == prefs.keybind %} selected="selected"{% endif %}>{{ t.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="control-group">
              <label class="control-label" for="id_swrap">Soft Wrap</label>
              <div class="controls">
                <select id="id_swrap" name="swrap">
                  {% for t in wraps %}
                  <option value="{{ t.0 }}"{% if t.0 == prefs.swrap %} selected="selected"{% endif %}>{{ t.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </td>
          <td>
            <div class="control-group">
              <label class="control-label" for="id_fontsize">Font Size</label>
              <div class="controls">
                <select id="id_fontsize" name="fontsize">
                  {% for t in sizes %}
                  <option value="{{ t.0 }}"{% if t.0 == prefs.fontsize %} selected="selected"{% endif %}>{{ t.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="control-group">
              <label class="control-label" for="id_tabsize">Tab Size</label>
              <div class="controls">
                <input type="number" step="1" name="tabsize" id="id_tabsize" value="{{ prefs.tabsize }}">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table>
              <tr>
                <td>
                  <div class="controls">
                    <label class="checkbox" for="id_hactive">
                      <input type="checkbox" name="hactive" value="ON" id="id_hactive"{% if prefs.hactive %} checked="checked"{% endif %}>
                      Highlight Active Line
                    </label>
                  </div>
                </td>
                <td>
                  <div class="controls">
                    <label class="checkbox" for="id_hword">
                      <input type="checkbox" name="hword" value="ON" id="id_hword"{% if prefs.hword %} checked="checked"{% endif %}>
                      Highlight Selected Word
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="controls">
                    <label class="checkbox" for="id_invisibles">
                      <input type="checkbox" name="invisibles" value="ON" id="id_invisibles"{% if prefs.invisibles %} checked="checked"{% endif %}>
                      Show Invisibles
                    </label>
                  </div>
                </td>
                <td>
                  <div class="controls">
                    <label class="checkbox" for="id_gutter">
                      <input type="checkbox" name="gutter" value="ON" id="id_gutter"{% if prefs.gutter %} checked="checked"{% endif %}>
                      Show Gutter
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="controls">
                    <label class="checkbox" for="id_pmargin">
                      <input type="checkbox" name="pmargin" value="ON" id="id_pmargin"{% if prefs.pmargin %} checked="checked"{% endif %}>
                      Show Print Margin
                    </label>
                  </div>
                </td>
                <td>
                  <div class="controls">
                    <label class="checkbox" for="id_softab">
                      <input type="checkbox" name="softab" value="ON" id="id_softab"{% if prefs.softab %} checked="checked"{% endif %}>
                      Use Soft Tab
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="controls">
                    <label class="checkbox" for="id_behave">
                      <input type="checkbox" name="behave" value="ON" id="id_behave"{% if prefs.behave %} checked="checked"{% endif %}>
                      Enable Behaviors
                    </label>
                  </div>
                </td>
                <td>
                  <div class="controls">
                    <label class="checkbox" for="id_save_session">
                      <input type="checkbox" name="save_session" value="ON" id="id_save_session"{% if prefs.save_session %} checked="checked"{% endif %}>
                      Save Session
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <a href="javascript: void(0);" class="btn btn-primary" onclick="update_prefs()">Save</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
<div class="modal fade hide" id="renameModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Rename: <span id="renameSpan"></span></h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label" for="id_newfile_name">New File Name</label>
      <div class="controls">
        <form onsubmit="return rename_file()">
          <input type="hidden" name="rename_id" id="id_rename_id" value="">
          <input type="hidden" name="rename_mime" id="id_rename_mime" value="">
          <input type="text" name="rename" id="id_rename_name" value="">
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript: void(0);" class="btn btn-primary" onclick="rename_file()">Rename</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>